* {
    margin: 0;
    padding: 0;
    font-family: Lucida Sans;
    color: #F2F2F2;
    @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&family=Unbounded:wght@200;400&display=swap');
    font-family: 'Karla', sans-serif;

}

p {
    font-size: 20px;
}

body {

    background: rgb(238, 185, 153);
    background: radial-gradient(circle, rgba(238, 185, 153, 1) 10%, rgba(126, 179, 191, 1) 32%, rgba(58, 103, 100, 1) 79%, rgba(8, 38, 33, 1) 93%);
    overflow-x: hidden;
}




/* ---------------  Navbar   ----------------*/
.navbarDash {
    background-color: transparent;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 1% 0;
    transition: 0.5s;
    animation-timing-function: ease-in-out;
    max-height: 65px;
    width: 100%;
}

.navbar {
    background-color: #212426;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 1% 0;
    transition: 0.5s;
    animation-timing-function: ease-in-out;
    max-height: 60px;
}




.navbar-brand,
.nav-link {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    opacity: 0.8;
    padding: 0;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.navbar-brand:hover,
.nav-link:hover {
    color: #4af097;
    opacity: 1;
    text-shadow: 1px 1px black;
}



/* ---------------  Portada  ----------------*/


.fuente-verde {
    color: #3ea035;
}

.fuente-gris-claro {
    opacity: 0.9;
    font-size: 16px;
}

.texto-portada {
    margin-top: 10%;
    margin-bottom: 30%;
    font-size: 24px;
    z-index: 2;
}

.boton-portada {
    color: white;
    background-color: transparent;
    padding: 5px 3%;
    font-size: 20px;
    border: solid white;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 5%;
}

.boton-portada:hover {
    opacity: 1;
    background-color: white;
    color: #298152;
}

h1 {
    color: #fafafa;
    font-size: 85px;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.imagen-portada {
    position: absolute;
    top: 0px;
    height: 1500px;
    width: 100%;
    filter: brightness(0.95);
}



/* ---------------  Categorias   ----------------*/
.categorias {
    justify-content: center;
    padding: 8% 0;
}

.categoriaItem {
    opacity: 0.5;
}

.img-categorias {
    width: 320px;
    height: 320px;
    object-fit: cover;
    position: relative;
    border-radius: 5%;
}

.titulo-categorias {
    position: absolute;
    bottom: 5%;
    left: 4%;
    padding: 1% 5%;
    border-radius: 10px;
    opacity: 0.9;
    transition-duration: 1s;
}


.categoriaItem:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.9s;
    opacity: 0.9;

}

.categoriaItem:hover h3 {
    background-color: black;
}

/*---------   Carrusel tablas----- */

.carrusel-tablas {
    margin: 4% 0;
    padding: 5% 0;
}

.img-tabla-carrusel {
    height: 320px;
    min-width: 230px;
    overflow: hidden;
    object-fit: cover;
}

.img-producto-tendencia {
    height: 320px;
    min-width: 230px;
    overflow: hidden;
    object-fit: contain;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    cursor: pointer;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.btn{
    background-color:transparent;
    border: solid 0.5px white;
}

.texto-carrusel-tablas {
    margin-top: 2%;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    border: none;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-bottom: 1%;
}

.card-text {
    color:white;
    text-shadow: 1px 1px black;
    font-size: 38px;
    font-weight: 600;
    text-align: justify;
    width: 80%;
    opacity: 0.9;
}

.detalle-card {
    background-color: #ffffffbf;
    width: 60%;
    height: 580px;
    margin-bottom: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 6px 3px #00000091;
    margin: 40px;
}

.foto-detalle {
    width: 80%;
    margin: 5%;
    border-radius: 30px;
}

.modelo {
    height: 550px;
    width: 80%;
    border-radius: 20px;
}

.estrella{
    opacity: 0.7;
    max-width: 20px;
}


/*------  Carrusel noticias --------*/

.carrusel-noticias {
    margin: 5% 0;
    padding: 5% 0;
}

.img-carrusel-noticias {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

/*---------  Carrusel ropa  ---------- */
.carrusel-ropa {
    padding: 5% 0;
    margin: 2% 0;
}


.img-ropa-carrusel {
    height: 250px;
    min-width: 250px;
    filter: brightness(85%);
}

.img-ropa-carrusel:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    filter: brightness(100%);
    z-index: 1;
}


/* ---  Carrusel tendencias  ------*/

.imagen-fondo-blog {
    width: 100%;
    height: 500px;
    margin: 0;
    position: absolute;
    object-fit: cover;
    filter: brightness(40%);
}

.tendencias-carrusel {
    padding-bottom: 3%;
}



.blog {
    background-color: transparent;
    padding: 5% 0;
    z-index: 1;
    margin: 0;
}


.img-blog {
    width: 500px;
    height: 400px;
    object-fit: cover;
    position: relative;
    border-radius: 5%;
    opacity: 0.7;
}



.img-blog:hover {
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 1s;


}

.marcas-carrusel {
    background-color: #212426;
    margin: 0 0 5% 0;
}

.imagen-fondo-marcas {
    width: 100%;
    max-height: 240px;
    margin: 0;
    position: absolute;
    object-fit: cover;
    filter: brightness(80%);
}

.img-marca-carrusel {
    width: 40%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin-left: 20%;
}


.contacto-form {
    background-color: transparent;
}

.form-btn {
    background-color: transparent;
    padding: 1% 1%;
    font-size: 18px;
    border: solid white;
    border-radius: 10px;
    opacity: 0.7;
    margin-top: 5%;
}


.label-form {
    font-size: 0.8rem;

}

.form-input {
    background-color: #3c3d3e38;
    border: none;
}

.form-input-mobile {
    display: block;
    background-color: #3c3d3e1c;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ffffffc7;
    transition: all 0.3s ease-in-out;
}

#mensaje {
    resize: none;
    background-color: #3c3d3e38;
}




.form-btn:hover {
    opacity: 1;
    background-color: white;
    color: #212426;
}

.img-formulario {
    width: 600px;
    height: 400px;
    border-radius: 5%;
    object-fit: cover;
    filter: brightness(80%);
}


/*-------------------------------- PRODUCTOS ESTILOS------------------------------------------ */

.btn-selector {
    text-shadow: 1px 1px black;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 60%;
    margin: 6% 0;
    border-radius: 10px;
    display: inline;
    text-align: center;
}

.btn-selector:hover {
    border-bottom: solid 1px white;
}

.aside-productos {
    top: 0px;
}

.main-productos {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

.selector-producto {
    display: block;
    position: sticky;
    top: 0;
    justify-content: space-between;
    margin: 70px 0 80px 0;
    align-items: center;

}

.product-card {
    background-color: #ffffffbf;
    width: 310px;
    height: 380px;
    margin-bottom: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    justify-content: space-between;
    box-shadow: 5px 5px 6px 3px #00000091;
    margin: 40px;
}

.product-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.titulo-producto {
    color: #212426;
    font-size: 25px;
    font-weight: bold;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}


.titulo-detalle {
    color: #212426;
    font-size: 45px;
    font-weight: bold;
    margin: 5% 0;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
}


.info-producto {
    color: #3c3d3e;
    font-size: 18px;
    font-weight: 490;
    opacity: 0.8;
    text-align: justify;
}

.precio-producto {
    color: #3c3d3e;
    font-size: 20 px;
    font-weight: bolder;
}

.marca-detalle {
    color: rgb(41, 139, 200);
    font-weight: 700;
}

.precio-detalle {
    color: #3c3d3e;
    font-size: 50px;
    font-weight: bolder;
}

.icono-volver {
    max-width: 15%;
}

.enlace-icono-volver {
    background-color: #fafafa26;
    padding: 1% 1% 11% 1%;
    border-radius: 10px;
}

.enlace-icono-volver:hover {
    background-color: #fafafa6f;
}

.icono-volver:hover {
    cursor: pointer;
}



.foto-producto {
    margin-top: 2%;
    width: 80%;
    border-radius: 30px;
}

.letra-tamano {
    color: #3c3d3e;
    font-size: 20px;
}

.precio-titulo {
    color: #3c3d3e;
    margin-bottom: 0;
}

.btn-detalle {
    padding: 3% 5%;
    border-radius: 10px;
    border: solid rgb(41, 139, 200);
    color: rgb(41, 139, 200);
    font-size: 18px;
    opacity: 0.8;
    font-weight: bolder;
}


.btn-detalle:hover {
    background-color: rgb(41, 139, 200);
    color: white;
}

.foto-tenis-vertical {
    margin-top: 2%;
    width: 30%;
    border-radius: 30px;
}


.container--flex {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



/*-------------------------------- INICIO SESION----------------------------------------- */

.titulo {
    text-align: center;
}

.btn-acceder {
    color: #3c3d3e;
    margin: 25% 0 5% 13%;
    border: none;
    border-radius: 109px;
    font-weight: bolder;
}

.btn-acceder:hover {
    background-color: #50d044;
    color: #212426;
}

.imagen-login-fondo {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    filter: brightness(75%);
}

.caja-inicio-sesion {
    background-color: #151515d2;
    border-radius: 31px;
    box-shadow: 3px 3px 6px 2px #00000082;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8% 0 15% 0;
    padding: 0 7% 1% 7%;
}

.main-cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.caja-foto {
    margin: 40px;
    display: flex;
    width: 100%;

}

.caja-formulario-cuenta {

    display: flex;
    flex-direction: column;
    gap: 30px;
}


.botones-cuenta a {
    font-size: 2rem;
}

.botones-cuenta button {
    height: 40px;
    width: 170px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.input-formulario {
    height: 35px;
    border-radius: 7px;
    border: none;
    font-size: 15px;
}

.input-formulario::placeholder {
    opacity: 0.8;
}

.label-formulario {

    font-size: 20px;
}

.botones-cuenta-sesion a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 15px;
}




/* ----- Pie de pagina ----------*/

footer {
    background-color: #212426;
    padding: 1% 0 3% 0;
}

.list-footer-item {
    font-size: 14px;
    display: inline;
    text-align: left;
}

.footer-copyright {
    color: white;
    font-size: 12px;
}

.txt-footer {
    color: white;
    font-size: 15px;
    opacity: 0.6;
}

h6 {
    margin-bottom: 2%;
    font-size: 22px;
    text-align: left;
}



.titulo-tamaño-detalle {
    color: #3c3d3e;
    opacity: 0.7;
    font-size: 16px;
}




/* ----------Eventos -------------*/

.imagen-fondo-eventos {
    margin-top: 0%;
    width: 100%;
    max-height: 850px;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    top: 0;
    filter: brightness(0.8);
    margin-bottom: 500px;
}

.titulo-eventos {
    font-size: 60px;
    z-index: 3;
    font-weight: bolder;
    margin: 10% 0 30% 0;
    text-shadow: 1px 1px black;
}

.carta-evento {
    background-color: #fafafa26;
    width: 70%;
    border-radius: 10px;
}

.imagen-eventos {
    max-width: 80%;
    max-height: 390px;
    border-radius: 10px;
}

.fecha-carta-eventos {
    text-align: right;
    font-size: 14px;
    opacity: 0.6;
}

.texto-carta-eventos {
    font-size: 18px;
    opacity: 0.8;
}

.titulo-carta-eventos {
    font-size: 24px;
    margin-top: 2%;
    font-weight: bolder;
}


/* ----------Blog-------------*/

.img-fondo-blog {
    width: 100%;
    height: 600px;
    border-radius: 30px;
    margin-bottom: 500px;
    position: absolute;
    top: 0;
    object-fit: cover;
    filter: brightness(0.65);
    z-index: -1;
}


.titulo-blog {
    font-size: 60px;
    z-index: 3;
    font-weight: bolder;
    margin: 10% 0 15% 0;
    text-shadow: 1px 1px black;
}

.imagen-carta-blog {
    border-radius: 10px;
    max-width: 80%;
    max-height: 230px;
    object-fit: cover;
}

.carta-blog {
    padding: 1% 0;
    background-color: #83838361;
    border-radius: 10px;
}

.titulo-carta-blog {
    font-weight: bold;
}

.texto-carta-blog {
    text-align: justify;
    opacity: 0.8;
    font-size: 16px;
}

.fecha-publicacion-blog {
    font-size: 14px;
    opacity: 0.6;
}





.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel {

    max-height: 550px;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: rgba(137, 118, 224, 0);
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}





/* ------  LANDING PAGE ------------*/
.imagen-fondo-landing{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 5000px;
    object-fit: cover;
}


.titulo-landing {
    font-size: 80px;
    z-index: 3;
    font-weight: bolder;
    margin: 8% 0 2% 0;
    text-shadow: 1px 1px black;
}


.gif{
    width: 1000px;
    mix-blend-mode: screen;
    filter: invert();
}

.divisor-landing {
    padding: 5px 0;
    background-color: #83838361;
    border-radius: 10px;
}


/* --------------RESPONSIVE -------------*/


@media only screen and (max-width: 1440px) {
    .img-categorias {
        width: 200px;
        height: 200px;
    }

    .img-blog {
        width: 300px;
        height: 200px;
        object-fit: cover;
        position: relative;
        border-radius: 5%;
        opacity: 0.5;
    }

    .categorias {
        padding: 2% 0 8% 0;
    }


    .carusel {
        height: 180px;
        min-width: 150px;
    }

    .img-ropa-carrusel {
        height: 180px;
        min-width: 150px;
    }

    .imagen-fondo-blog {
        width: 100%;
        height: 320px;
        margin: 0;
        position: absolute;
        object-fit: cover;
        opacity: 0.8;
        background-color: #212426;
    }

    .imagen-portada {
        position: absolute;
        top: 0px;
        height: 1100px;
        width: 100%;
        filter: brightness(1.1);
    }

    .marcas-carrusel {
        margin: 2% 0 8% 0;
    }


    .imagen-fondo-marcas {
        width: 100%;
        max-height: 200px;
        margin: 0;
        position: absolute;
        object-fit: cover;
        filter: contrast(60%);
    }
}


@media only screen and (max-width:775px) {
    h1 {
        font-size: 28px;
    }

    .imagen-portada {
        height: 900px;
        object-fit: cover;
    }

    .texto-portada {
        margin-top: 23%;
        margin-bottom: 22%;
        font-size: 15px;
        z-index: 2;
    }






    /* ----------CATEGORIAS -------------*/

    .categorias {
        margin-top: 60%;
    }

    .titulo-categorias {
        font-size: 14px;
    }

    .categoriaItem {
        width: 10%;
        height: 150px;
        overflow: hidden;
    }

    .img-categorias {
        overflow: hidden;
        object-fit: cover;
        width: 90%;
    }

    .categoriaItem:hover {
        z-index: 3;
        opacity: 1;
        width: 12%;
    }

    .categoriaItem h3 {
        opacity: 0.5;
    }

    .categoriaItem:hover h3 {
        opacity: 1;
    }

    .carrusel-tablas {
        margin-top: 6%;
        padding: 0;
    }


    .fuente-gris-claro {
        font-size: 12px;
    }

    h2 {
        font-size: 22px;
    }

    .img-tabla-carrusel, .img-producto-tendencia {
        height: 180px;
        min-width: 150px;
        position: relative;
        right: 25%;
    }

    .imagen-fondo-blog {
        width: 100%;
        height: 520px;
        margin: 0;
        position: absolute;
        object-fit: cover;
        opacity: 0.8;
        background-color: #212426;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        height: 20px;
        position: absolute;
        top: 50%;
    }

    .card-title {
        font-size: 14px;
        margin-bottom: 1%;
    }

    .card-text {
        color: #298152;
        font-size: 10px;
        text-align: justify;
        width: 80%;
    }

    .texto-carrusel-tablas {
        margin: 5% 0 2% 0;
    }


    .img-blog {
        width: 250px;
        height: 160px;
        object-fit: cover;
        border-radius: 5%;
        opacity: 0.9;
    }



    .tendencias-carrusel {
        margin: 5% 0;
        padding: 5% 0;
    }


    .imagen-fondo-marcas {
        width: 100%;
        max-height: 170px;
        margin: 0;
        position: absolute;
        object-fit: cover;
        filter: contrast(60%);
    }

    .carrusel-marcas {
        padding: 8% 0;
    }

    .img-marca-carrusel {
        width: 80%;
        aspect-ratio: 3/2;
        object-fit: contain;
        margin-left: 0;
    }

    .contacto-form {}

}


@media only screen and (max-width:814px) {
    .categorias {
        margin-top: 75%;
    }

    .img-ropa-carrusel {
        height: 120px;
        min-width: 50%;
    }

    .carrusel-ropa {
        margin-bottom: 6%;
    }
}